@model DataAccessLayer.RegistrationModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterProcess</title>
    <style type="text/css">
        body {
            background-color: cornflowerblue;
        }

        #divid {
            position: absolute;
            top: 20%;
            left: 5%;
            border-radius: 0px;
        }

        tr, td {
            padding: 5px;
        }




        body {
            background-image: url('../../Content/3DrRh6.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            /*background-position: center;
            background-repeat: no-repeat;
            background-size: cover;*/
        }

        h1 {
            color: yellowgreen;
            padding: 4%;
        }
    </style>


</head>
<body>
    <h1 align="right-top">Register New User</h1>
    @using (Html.BeginForm("RegisterProcess", "Login", FormMethod.Post))
    {
<table>
    <tr>
        <th>
            UserName
        </th>
        <td>
            @Html.TextBoxFor(m => m.username)
        </td>
    </tr>
    <tr>
        <th>
            <span>Password</span>
        </th>
        <td>
            @Html.PasswordFor(m => m.password)
        </td>
    </tr>

    <tr>
        <th>
            <span>ConfirmPassword</span>
        </th>
        <td>
            @Html.PasswordFor(m => m.cpassword)
        </td>
    </tr>
    <tr>
        <th>
            <span>EmailId</span>
        </th>
        <td>
            @Html.TextBoxFor(m => m.EMAILID)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Add User" />
        </td>
    </tr>

    
    @Html.ValidationSummary()
</table>
    }
</body>
</html>
